/* General */
/* Color Pallet: https://colorhunt.co/palette/f5efe6e8dfcaaebdca7895b2 */

body {
  text-align: center;
  background-color: #EAEAEA;
  color: #7E7E7E;
  font-family: 'Roboto', 'sans-serif';
}

.page-title {
  padding-bottom: 3%;
  padding-top: 3%;
}

.button-color {
  background-color: #3C4048;
  color: #EAEAEA;
}

.button-color:hover {
  background-color: #00ABB3;
  color: #EAEAEA;
}

/* Section Colors */
/* Accent / bright color */
.dark-section {
  background-color: #00ABB3;
}

/* Lighter than accent color */
.light-section {
  background-color: #3C4048;
}

/* # */
/* mid-tier gray section */
.middle-gray-section {
  background-color: #B2B2B2;
}

/* Lightest section + main background*/
.gray-section {
  background-color: #EAEAEA;
}


/* Home Page */
/* Sections on Home Page */
.design-section {
  margin-bottom: 2%;
}
.home-page-section {
  padding: 3% 10%;
}

.welcome-img {
  max-width: 35px;
  margin: 0 3%;
}

.icon-row {
  margin-top: 25px;
}

.extra-margin {
  margin: 3%;
}
/* Graphics.jsx */
.feature-item {
  margin: 25px 50px;
}

.features-mini-section {
  text-align: center;
}

.feature-p {
  margin: 15px 35px;
}


/* About Me Section */
.about-me {
  padding: 7% auto;
  margin: 3% auto;
  /* margin-bottom: 50px; */
}

/* Smaller Projects Page */

.small-proj-card {
  max-width: 500px;
}

.larger-proj-detail-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2% auto;
  max-width: 95%;
}

.card-text {
  text-align: center;
  color: #BBBBBB;
  font-weight: 500;
}

.card-title {
  color: #BBBBBB;
  font-weight: 600;
}

.card-list-item {
  color: #BBBBBB;
  font-weight: 400;
}

.small-projects-imgs {
  height: 300px;
  max-width: 103%;
}

.small-projects-section {
  margin-bottom: 4%;
}

.proj-card {
  background-color: #EAEAEA;
}


/* Header */
.header {
  padding: 0px 0;
}

.header-text {
  color: #3C4048;
  padding-top: 6px;
  /* padding: .5% 1%; */
}

.header-text:hover {
  color: #B2B2B2;
 }

.header-text-name {
  font-size: 1.5rem;
  font-weight: 400;
}

.header-list-item {
  margin-left: 15px;
}

.nav-burger {
  color: #FFFFFF;
}

.page-footer {
  padding-top: 5px;
  /* padding-bottom: 1%; */
  margin-bottom: -2%;
}

.footer-text {
  text-align: center;
  color: #3C4048 ;
}

.attributions {
  position: static;
  font-size: 8px;
  color: #3C4048 ;
}

.attributions-footer-section {
  padding-bottom: 1px;
}

/* Contact Page */
.contact-form {
  margin: 4% auto;
  padding-bottom: 25%;
}

.contact-form-item {
  margin: 2% 1.5%;
  border-radius: 15px; 
}

.contact-form-button {
  border-radius: 7px;
  /* width: 17%; */
  margin: 15px 0;
  max-width: 125%;
  max-height: 75%;
  padding: 1.2% 15%;
}

.button-column {
  text-align: center;
}

/* Larger Projects Page */
.larger-projects-section {
  padding: 1% 8%;
  margin-top: 25px;
  margin-bottom: 125px;
}

.larger-projects-headercard {
  margin-bottom: 4%;
}


/* Mobile Dev Page */
.card-link {
  margin-bottom: 15px;
  margin-right: 15px;
}

.mobile-card {
  width: 400px;
}

.mobile-dev-card-img {
  height: 250px;
}